* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}

.main{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.blue{
    height: 200px;
    width: 200px;
    background-color: blue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.red{
    height: 200px;
    width: 200px;
    background-color: red;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.green{
    height: 200px;
    width: 200px;
    background-color: green;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}