#top {
    text-align: center;
}

body {
    background-image: url("../img/dio.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #00FF14;
    font-family: AppleGothic;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

ul {
    list-style: square;
}

table {
    border: 1px solid blue;
    table-layout: auto;
    width: auto;
}

th, td {
    border: 1px solid blue;
}

a:link {
    color: black;
}
a:visited {
    color: pink;
}
a:hover {
    color: orange;
}
a:active {
    color: yellow;
}